.login {
  margin-top: 20px;
  text-align: center;
}

.login p {
  color: #aaa;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
  width: auto;
  padding: 10px 20px;
}

.googleLogin {
  display: flex;
  justify-content: center;
}
